{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>
    <div>
    {% if vehicle.picture == NULL  %}
            <img class='VehiclePhoto' src="{{ asset('/uploads/tracteur.jpg') }}" alt="vehicle">
    {% else %}    
            <img class="vehicle-pic" src="{{ asset('/uploads/' ~ vehicle.picture) }}" />
    {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vehicle.name }}</td>
            </tr>
            <tr>
                <th>Buyprice</th>
                <td>{{ vehicle.buyprice }}</td>
            </tr>           
            <tr>
                <th>Sellprice</th>
                <td>{{ vehicle.sellprice }}</td>
            </tr>
            <tr>
                <th>Lifetime</th>
                <td>{{ vehicle.lifetime }}</td>
            </tr>
            <tr>
                <th>Timeworkingbyyear</th>
                <td>{{ vehicle.timeworkingbyyear }}</td>
            </tr>
        </tbody>
    </table>
    <p>
    Coût à l'heure :  {% set hourcost =( ((vehicle.buyprice - vehicle.sellprice) / vehicle.lifetime) / vehicle.timeworkingbyyear ) %}{{ hourcost}}
    </p>
    <p>
    Coût à l'heure avec MO :  {% set hourcost =( hourcost + 18 )  %} {{ hourcost}}
    </p>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
