{% extends 'base.html.twig' %}

{% block title %}Mon Vehicule{% endblock %}

{% block body %}
    <h1>Mon Vehicule</h1>
    <div>
    {% if vehicle.picture == NULL  %}
            <img class='Vehicleshow' src="{{ asset('/uploads/tracteur.jpg') }}" alt="vehicle">
    {% else %}
            <img class="vehicleshow" src="{{ asset('/uploads/' ~ vehicle.picture) }}" />
    {% endif %}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du modèle</th>
                <td>{{ vehicle.name }}</td>
            </tr>
            <tr>
                <th>Prix d'achat</th>
                <td>{{ vehicle.buyprice }}</td>
            </tr>
            <tr>
                <th>Prix de revente estimé</th>
                <td>{{ vehicle.sellprice }}</td>
            </tr>
            <tr>
                <th>Années d'utilisation</th>
                <td>{{ vehicle.lifetime }}</td>
            </tr>
            <tr>
                <th>Temps de travail en heures/années</th>
                <td>{{ vehicle.timeworkingbyyear }}</td>
            </tr>
        </tbody>
    </table>
    <p>
    Coût à l'heure :  {% set hourcost =( ((vehicle.buyprice - vehicle.sellprice) / vehicle.lifetime) / vehicle.timeworkingbyyear ) %}{{ hourcost}}
    </p>
    <p>
    Coût à l'heure avec MO :  {% set hourcost =( hourcost + 18 )  %} {{ hourcost}}
    </p>

    <a href="{{ path('vehicle_index') }}">Retour à la liste</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">éditer</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
