{% block footer %}
<footer>
    <h2 class="equipeDEV">L'équipe de développement</h2>
    <div class="creators">
      <div class="partenair">
      <a href="https://www.wildcodeschool.com/fr-FR" target="_blank"><img class="WiziFarm-logo" src="{{ asset('build/images/logovert.png') }}"></a>
      </div>
        <div class="creator-block">
        <div class="creator-name">Olivier Preaux</div>
        <div class="creator-logos">
            <a href="https://github.com/" target="_blank"><img class="gitLogoFooter" src="{{ asset('build/images/github.png') }}" alt ="GitHub Oliver Preaux"></a>
            <a href="https://www.linkedin.com/in/olivier-preaux-b492b31b8/" target="_blank"><img class="linkedinLogo" src="{{ asset('build/images/linkedin.png') }}" alt="Linked In Olivier Preaux"></a>
        </div>
        </div>
      <div class="creator-block">
        <div class="creator-name">Thomas Gillet</div>
        <div class="creator-logos">
           <a href="https://github.com/" target="_blank"><img class="gitLogoFooter" src="{{ asset('build/images/github.png') }}" alt ="GitHub Thomas Gillet" ></a>
           <a href="https://www.linkedin.com/in/thomas-gillet-59ba851a1/" target="_blank"><img class="linkedinLogo" src="{{ asset('build/images/linkedin.png') }}" alt="LinkedIn Thomas Gillet"></a>
       </div>
     </div>
     <div class="creator-block">
      <div class="creator-name">Bruno Lagasse</div>
      <div class="creator-logos">
            <a href="https://github.com/BrunoLagasse" target="_blank"><img class="gitLogoFooter" src="{{ asset('build/images/github.png') }}"alt ="GitHub Bruno Lagasse"></a>
            <a href="https://www.linkedin.com/in/bruno-lagasse-8a699716a/" target="_blank"><img class="linkedinLogo" src="{{ asset('build/images/linkedin.png') }}" alt="LinkedIn Bruno Lagasse"></a>
      </div>
    </div>
    <div class="creator-block">
      <div class="creator-name">Steve Crepin</div>
      <div class="creator-logos">
             <a href="https://github.com/Schyzofrania" target="_blank"><img class="gitLogoFooter" src="{{ asset('build/images/github.png') }}" alt="GitHub Steve Crepin"></a>
             <a href="https://www.linkedin.com/in/steve-crepin-/" target="_blank"><img class="linkedinLogo" src="{{ asset('build/images/linkedin.png') }}" alt="LinkedIn Steve Crepin"></a>
      </div>
      </div>
       <div class="partenair">
        <a href="http://www.saintex-reims.com/" target="_blank"><img class="WiziFarm-logo" src="{{ asset('build/images/logojaune.png') }}"></a>
       </div>
    </div>
  </div>
 <div class="footer-copyright">
     <span>© 2021 Promotion Horizon | Wild Code School Reims - Tous droits réservés</span>
 </div>
</footer>
{% endblock %}